nav *, div#footer-top *, footer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px 0;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin-bottom: .5em;
            font-size: 14px;
        }
    }
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
	width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
	width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
	width: 1170px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;

    padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
    }
    .col-sm-12 {
	width: 100%;
    }
    .col-sm-11 {
	width: 91.66666667%;
    }
    .col-sm-10 {
	width: 83.33333333%;
    }
    .col-sm-9 {
	width: 75%;
    }
    .col-sm-8 {
	width: 66.66666667%;
    }
    .col-sm-7 {
	width: 58.33333333%;
    }
    .col-sm-6 {
	width: 50%;
    }
    .col-sm-5 {
	width: 41.66666667%;
    }
    .col-sm-4 {
	width: 33.33333333%;
    }
    .col-sm-3 {
	width: 25%;
    }
    .col-sm-2 {
	width: 16.66666667%;
    }
    .col-sm-1 {
	width: 8.33333333%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
    }
    .col-md-12 {
	width: 100%;
    }
    .col-md-11 {
	width: 91.66666667%;
    }
    .col-md-10 {
	width: 83.33333333%;
    }
    .col-md-9 {
	width: 75%;
    }
    .col-md-8 {
	width: 66.66666667%;
    }
    .col-md-7 {
	width: 58.33333333%;
    }
    .col-md-6 {
	width: 50%;
    }
    .col-md-5 {
	width: 41.66666667%;
    }
    .col-md-4 {
	width: 33.33333333%;
    }
    .col-md-3 {
	width: 25%;
    }
    .col-md-2 {
	width: 16.66666667%;
    }
    .col-md-1 {
	width: 8.33333333%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
    }
    .col-lg-12 {
	width: 100%;
    }
    .col-lg-11 {
	width: 91.66666667%;
    }
    .col-lg-10 {
	width: 83.33333333%;
    }
    .col-lg-9 {
	width: 75%;
    }
    .col-lg-8 {
	width: 66.66666667%;
    }
    .col-lg-7 {
	width: 58.33333333%;
    }
    .col-lg-6 {
	width: 50%;
    }
    .col-lg-5 {
	width: 41.66666667%;
    }
    .col-lg-4 {
	width: 33.33333333%;
    }
    .col-lg-3 {
	width: 25%;
    }
    .col-lg-2 {
	width: 16.66666667%;
    }
    .col-lg-1 {
	width: 8.33333333%;
    }
}

#main-outlet {
    padding-top: 100px;
}

// Footer Styles

// stops footer not loading on new topics page

.list-container.hidden {
    display: block;
    visibility: hidden;
}

#footer-top {
    padding-top: 80px;
    border-top: 1px solid #d7d7d7
}

// discourses base.css increases ul left-margin
.footer-col .list-unstyled {
  margin-left: 0 !important
}

.social-icons .list-unstyled {
  margin-left: 0 !important
}

.footer-col {
  width: 20%;
  float: left;
  padding-right: 20px
}

.footer-col ul li {
  margin: 0 0 15px 0;
  line-height: 1.3;
}

.footer-col ul li a {
  text-decoration: none;
  font-size: 13px
}

.footer-col ul li a:hover {
  color: #0ab0bf
}

.footer-col h1,
.footer-col .h1,
.footer-col h2,
.footer-col .h2,
.footer-col h3,
.footer-col .h3,
.footer-col h4,
.footer-col .h4,
.footer-col h5,
.footer-col .h5,
.footer-col h6,
.footer-col .h6 {
  font-size: 13px;
  text-transform: uppercase
}

.social-icons {
  margin-top: 28px;
  clear: both
}

.social-icons ul li {
  display: inline-block;
  font-size: 40px;
  margin-right: 10px
}



.social-icons ul li a i {
  font-size: 34px
}



.tagline {
  text-align: center
}

.tagline .btn-footer {
  margin: 20px
}

.footer-bar {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d7d7d7
}

.footer-bar .links {
  font-size: 13px;
  text-align: right
}

.footer-bar .links span {
  white-space: nowrap
}

.footer-bar .goog-logo-link img {
  margin-bottom: 0
}

@media (max-width: 991px) {
  .footer-col {
      width: 100%
  }
  .footer-col h4 {
      margin-top: 13px;
      margin-bottom: 2px;
      clear: both
  }
  .footer-col ul {
      overflow: hidden
  }
  .footer-col ul li {
      float: left;
      margin-right: 15px
  }
  .social-icons {
      margin-top: 42px
  }
  .footer-bar {
      padding-bottom: 80px;
      text-align: center
  }
  .footer-bar .nr-logo {
      margin-bottom: 15px
  }
}

// remove sign up button

.sign-up-button {
    display: none
}

// remove chrome user agent style for border radius

button {
    border-radius: 0px !important;
}

div.badge-contents {
    height:128px;
}

/* fix full page search input size */

input.full-page-search {
    height: 30px !important;
}

body {
  font-size: 100%;
}

// fixes category and tags carets
.list-controls .category-breadcrumb a.badge-category.category-dropdown-button {
    margin-left: -6px !important;
}

/* keep the composer toggler caret on the screen */
a.toggler {
    width: 35px !important;
}

// fix topic title input field

div.title-input {
    input#reply-title {
        height: 32px;
    }
}

a:link {
    text-decoration:none;
}

/* add a border around the share link modal so it can be
   differentiated from the rest of the site */
#share-link {
    box-shadow: 0 1px 5px #fff;
}

/* make sure the popup menu buttons stay within their container size */

.popup-menu {
      button, btn {
        width:100% !important;
    }
}

/* primary buttons - reply, create topic, etc.. have
   the NR-teal color so they stand out */

button.btn-primary, a.btn-primary {
    background-color: #008c99;
}

button.btn-primary:hover, a.btn-primary:hover {
  background-color:#00b0c1;
}

/* "Log In" button color */
button.login-button {
  color:#fff;
  background-color: #008c99;
}

button.login-button:hover{
  background-color:#00b0c1;
}


a {
    font-weight: 500;
    text-decoration: none;
}

.banner {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;

}
